<!DOCTYPE html>
<html>

<head>
  <title>Welcome to awsome</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

  <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" type="text/css" href="assets/style/index.css">

  <!-- Basic meta tags -->
  <meta name="author" content="">
  <meta name="title" content="">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="language" content="English">
  <meta charset="utf-8">
  <meta name="robots" content="INDEX , FOLLOW">
  <meta name="google-site-verification" content="" />
  <!-- View point -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

  <div id="view">

    <!-- Profile Box  -->

    <div class="profile" v-if="render">
      <div class="profile-content">
        <div class="profile-pic">
          <img :src="data.profile.image" alt="User">
        </div>
        <div class="profile-name title">
          {{ data.profile.name }}
        </div>
        <div class="profile-designation subtitle-2">
          {{ data.profile.domains }}
        </div>
        <div class="profile-about">
          {{ data.profile.vision }}
        </div>
        <ul class="profile-footer">
          <a v-for="link in data.profile.link" v-if="link.active" :href="link.url">
            <li>
              <i :class="'profile-icon ' + link.icon"></i>
              {{ link.label }}
            </li>
          </a>
        </ul>
      </div>
    </div>

    <!-- Body Box -->

    <div class="body">

      <!-- Menu Box -->
      <div id="menu" class="menu">
        <div class="menu-control">
          <div class="menu-title" id="menuTitle">Home</div>
          <div id="menuIcon" class="fas fa-bars menu-icon"></div>
        </div>
        <ul class="menu-list" id="menuList">
          <span v-if="render" class="menu-list-span">
            <li v-for="menu in data.menu" v-if="menu.active" :onclick="`showSection('` + menu.title + `')`">
              <i :class="menu.icon" v-if="menuIconAllow" ></i>
              {{ menu.title }}
            </li>
          </span>
        </ul>
      </div>

      <!-- Content Box -->
      <div class="content">

        <div class="content-body">

          <div id="home" class="hidden">
            <span v-if="render">
              <h1 class="home-h1"> {{ data.home.title }} </h1>
              <p> {{ data.home.body }} </p>
            </span>
          </div>

          <div id="about" class="hidden">
            <span v-if="render">
              Hello, The about section is this</p>
            </span>
          </div>

          <div id="work" class="hidden">
            <span v-if="render">
              <card v-for="info in data.work" v-bind:info="info" v-bind:key="info.key"></card>
            </span>
          </div>

          <div id="skills" class="hidden">
            <span v-if="render">
            </span>
          </div>

          <div id="projects" class="hidden">
            <span v-if="render">
              <card v-for="info in data.projects" v-bind:info="info" v-bind:key="info.key"></card>
            </span>
          </div>

          <div id="achievements" class="hidden">
            <span v-if="render">
              <card v-for="info in data.achievement" v-bind:info="info" v-bind:key="info.key"></card>
            </span>
          </div>

          <div id="contributions" class="hidden">
            <span v-if="render">
              <card v-for="info in data.talks" v-bind:info="info" v-bind:key="info.key"></card>
            </span>
          </div>

          <div id="education" class="hidden">
            <span v-if="render">
              <card v-for="info in data.education" v-bind:info="info" v-bind:key="info.key"></card>
            </span>
          </div>

          <div id="communities" class="hidden">
            <span v-if="render">
              <card v-for="info in data.talks" v-bind:info="info" v-bind:key="info.key"></card>
            </span>
          </div>

          <div id="publications" class="hidden">
            <span v-if="render">
              <card v-for="info in data.talks" v-bind:info="info" v-bind:key="info.key"></card>
            </span>
          </div>

          <div id="blogs" class="hidden">
            <span v-if="render">
              <card v-for="info in data.blogs" v-bind:info="info" v-bind:key="info.key"></card>
            </span>
          </div>

          <div id="talks" class="hidden">
            <span v-if="render">
              <card v-for="info in data.courses" v-bind:info="info" v-bind:key="info.key"></card>
            </span>
          </div>

          <div id="links" class="hidden">
            <span v-if="render">
              <card v-for="info in data.courses" v-bind:info="info" v-bind:key="info.key"></card>
            </span>
          </div>


        </div>


      </div>

      <!-- Footer -->
      <div class="footer">
        Made with <i class="fas fa-heart"></i> by Raman Tehlan
      </div>

    </div>




  </div>

</body>

<script type="text/javascript" src="assets/script/jquery.js"></script>
<script type="text/javascript" src="assets/script/vue.js"></script>
<script type="text/javascript" src="assets/script/index.js"></script>


</html>
