<!DOCTYPE html>
<html>

<head>
  <title>Personal-Site-Template</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

  <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" type="text/css" href="assets/style/index.css">

  <!-- Basic meta tags -->
  <meta name="author" content="">
  <meta name="title" content="">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="language" content="English">
  <meta name="charset" charset="utf-8">
  <meta name="robots" content="INDEX , FOLLOW">
  <meta name="google-site-verification" content="" />
  <!-- View point -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

  <div id="view">

    <!-- Profile Box  -->

    <div class="profile" v-if="render">
      <div class="profile-content">
        <div class="profile-pic">
          <img :src="data.profile.image" alt="User">
        </div>
        <div class="profile-name title">
          {{ data.profile.name }}
        </div>
        <div class="profile-designation subtitle">
          {{ data.profile.domains }}
        </div>
        <div class="profile-about body">
          {{ data.profile.vision }}
        </div>
        <ul class="profile-footer">
          <a v-for="link in data.profile.link" :href="link.url">
            <li>
              <i :class="'profile-icon ' + link.icon"></i>
              {{ link.label }}
            </li>
          </a>
        </ul>
      </div>
    </div>

    <!-- Body Box -->

    <div class="view-body">

      <!-- Menu Box -->
      <div id="menu" class="menu">
        <div class="menu-control">
          <div class="menu-title" id="menuTitle">About</div>
          <div id="menuIcon" class="fas fa-bars menu-icon"></div>
        </div>
        <ul class="menu-list" id="menuList">
          <span v-if="render" class="menu-list-span">
              <li :id="menu.title + 'Btn'" class="menu-list-item" v-for="menu in data.menu" v-if="menu.display" :onclick="`showSection('` + menu.title + `')`">
              <i :class="menu.icon" v-if="menuIconAllow"></i>
              {{ menu.title }}
            </li>
          </span>
        </ul>
      </div>

      <!-- Content Box -->
      <div class="content">

        <div class="content-body">

          <div id="about" class="hidden small-content-body">
            <span v-if="render" v-if="data.about">
              <h1> {{ data.about.title }} </h1>
              <p v-html="data.about.body" class="home-p"> </p>
              <p v-html="data.about.signature" class="home-signature"></p>
            </span>
          </div>

          <div id="work" class="hidden">
            <span v-if="render">
              <div class="break-heading">Work Experience [{{ data.work.length }}]</div>
              <card v-for="info in data.work" v-bind:info="info" v-bind:key="info.key"></card>
            </span>
          </div>

          <div id="skills" class="hidden">
            <span v-if="render">
              <skillbar v-for="(value, index) in data.skills.data" v-bind:color="data.skills.color" v-bind:title="data.skills.title" v-bind:value="value" v-bind:index="index" v-bind:key="value.name"> </skillBar>
            </span>
          </div>

          <div id="projects" class="hidden">
            <span v-if="render">
              <div class="break-heading">Projects [{{ data.projects.length }}]</div>
              <card v-for="info in data.projects" v-bind:info="info" v-bind:key="info.key"></card>
            </span>
          </div>

          <div id="achievements" class="hidden">
            <span v-if="render">
              <div class="break-heading">Achievements [{{ data.achievements.length }}]</div>
              <card v-for="info in data.achievements" v-bind:info="info" v-bind:key="info.key"></card>
            </span>
          </div>

          <div id="contributions" class="hidden">
            <span v-if="render">
              <span v-if="data.contributions">
                <div class="break-heading">OpenSource Contributions [{{ data.contributions.length }}]</div>
                <div class="small-card-holder">
                  <smallcard v-for="info in data.contributions" v-bind:info="info" v-bind:key="info.key"> </smallcard>
                </div>
              </span>

              <span v-if="data.communities">
                <div class="break-heading">Communities [{{ data.communities.length }}]</div>
                <div class="small-card-holder">
                  <smallcard v-for="info in data.communities" v-bind:info="info" v-bind:key="info.key"> </smallcard>
                </div>
              </span>
            </span>
          </div>

          <div id="education" class="hidden">
            <span v-if="render">
              <span v-if="data.education">
                <div class="break-heading">Education [{{ data.education.length }}]</div>
                <card v-for="info in data.education" v-bind:info="info" v-bind:key="info.key"></card>
              </span>
              <span v-if="data.courses">
                <div class="break-heading">Online Cources [{{ data.courses.length }}]</div>
                <card v-for="info in data.courses" v-bind:info="info" v-bind:key="info.key" v-if="info.complete"></card>
              </span>
            </span>
          </div>

          <div id="communities" class="hidden">
            <span v-if="render">
              <span v-if="data.communities">
                <div class="break-heading">Communities [{{ data.communities.length }}]</div>
                <card v-for="info in data.communities" v-bind:info="info" v-bind:key="info.key"></card>
              </span>
            </span>
          </div>


          <div id="blog" class="hidden">
            <span v-if="render">
              <span v-if="data.blog">
                <div class="break-heading">Blog [{{ data.blog.length }}]</div>
                <card v-for="info in data.blog" v-bind:info="info" v-bind:key="info.key"></card>
              </span>
            </span>
          </div>

          <div id="talks" class="hidden">
            <span v-if="render">
              <span v-if="data.talks">
                <div class="break-heading">Talks [{{ data.talks.length }}]</div>
                <card v-for="info in data.talks" v-bind:info="info" v-bind:key="info.key"></card>
              </span>
            </span>
          </div>

          <div id="links" class="hidden">
            <span v-if="render">
              <span v-if="data.links">
                <div class="break-heading">Links [{{ data.links.length }}]</div>
                <div class="small-card-holder">
                  <smallcard v-for="info in data.links" v-bind:info="info" v-bind:key="info.key"> </smallcard>
                </div>
              </span>
            </span>
            </span>
          </div>


        </div>


      </div>

      <!-- Footer -->
      <div class="footer">
        Designed and Developed by <a href="https://ramantehlan.github.io">Raman Tehlan</a> | <a href="https://github.com/ramantehlan/Moi">Open Source</a>
      </div>

    </div>




  </div>

</body>

<script type="text/javascript" src="assets/script/jquery.js"></script>
<script type="text/javascript" src="assets/script/vue.js"></script>
<script type="text/javascript" src="assets/script/index.js"></script>


</html>
