:root {
  /* Color */
  --primary: #2708a0;
  --primaryText: #FFFFFF;
  --background: #efefef;
  --card: #ffffff;
  --backgroundText: #000000;
  --backgroundText1: rgba(0, 0, 0, 0.8);
  --backgroundText2: rgba(0, 0, 0, 0.6);
  --backgroundText3: rgba(0, 0, 0, 0.3);
  --cardText: #000000;
  /* Text */
  --title-size: 20px;
  --subtitle-size: 12px;
  --body-size: 14px;
  --title-spacing: 0.075rem;
  --subtitle-spacing: 0.00625rem;
  --body-spacing: 0.015625rem;
  /* Other */
  --border-radius: 2.5px;
}

/* Fonts */
@font-face {
  font-family: roboto_m;
  src: url("../font/Roboto-Medium.ttf");
}

@font-face {
  font-family: roboto_r;
  src: url("../font/Roboto-Regular.ttf");
}

@font-face {
  font-family: roboto_t;
  src: url("../font/Roboto-Thin.ttf");
}

@font-face {
  font-family: rock;
  src: url("../font/ROCK.TTF");
}

/* Basic */
html {
  margin: 0px;
  padding: 0px;
  background-color: var(--background);
  color: var(--backgroundText);
  font-size: var(--body-size);
  font-family: roboto_r;
}

body {
  margin: 0px;
  padding: 0px;
}

a {
  color: inherit;
  text-decoration: none;
  outline:none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

h1{
  font-family: roboto_t;
  font-size:28px;
}

p {
  font-size: var(--body-size);
  letter-spacing: var(--body-spacing);
  font-family: roboto_r;
  margin: 0px;
  padding: 0px;
}

#view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}

.card-hidden-section{
  display: none;
}

.title {
  font-size: var(--title-size);
  letter-spacing: var(--title-spacing);
  font-family: roboto_r;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.subtitle {
  font-size: var(--subtitle-size);
  letter-spacing: var(--subtitle-spacing);
  font-family: roboto_m;
  text-transform: capitalize;
}

.body {
  font-size: var(--body-size);
  letter-spacing: var(--body-spacing);
  font-family: roboto_r;
}

.view-body {
  width:100%;
}

.footer {
  margin-top: 30px;
  padding: 8px;
  color: var(--backgroundText2);
  text-align: center;
  font-size: 12px;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.content-body {
  width: 80%;
  margin: 0px auto;
  margin-bottom: 30px;
}

.small-content-body{
  width:100%;
  margin: 0px auto;
}

.home-p{
  margin-top:15px;
  margin-bottom:15px;
  text-align: justify;
}

.home-p > a{
  color:var(--primary);
}

.home-signature{
  text-align:right;
}

.icon {
  margin-right: 0.5rem;
  width: var(--icon-size);
  height: var(--icon-size);
  color:var(--primary);
}

/* Profile */
.profile {
  width: 100%;
  background-color: var(--card);
  z-index: 101;
}

.profile-content {
  display: flex;
  justify-content: flex-start;
  flex-flow: column wrap;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 200px;
  margin-top: 40px;
  align-self: center;
  background-color: var(--primary);
}

.profile-pic img {
  width: 102%;
  height: 102%;
  margin-top: -1%;
  margin-left: -1%;
  border-radius: 200px;
}

.profile-name {
  text-align: center;
  margin-top: 30px;
  font-family: rock;
  font-size: 1.45rem;
  font-weight: bold;
}

.profile-designation {
  text-align: center;
  font-size: var(--body-size);
}

.profile-about {
  text-align: justify;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.profile-footer {
  list-style: none;
  display: flex;
  padding: 0px;
  width: 80%;
  margin: 0px auto;
  margin-top: 10px;
  margin-bottom: 20px;
  flex-flow: column wrap;
}

.profile-footer>a {
  margin-top: 10px;
}

.profile-icon {
  width: 16px;
  height: 16px;
  font-size: 16px;
  margin-right: 10px;
  color: var(--primary);
}

/* Card */
.card {
  background-color: var(--card);
  color: var(--cardText);
  border-radius: var(--border-radius);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 12px auto;
  border: 1px solid transparent;
}

.card:nth-child(2){
  margin-top: 25px;
}

.card:last-child{
  margin-bottom:25px;
}

.card-arrow{
  float:right;
  font-size:12px;
  color: var(--backgroundText3);
  border-radius:100px;
  padding:10px;
  margin-top:-5px;
  margin-right:-5px;
  cursor:pointer;
}

.card-arrow:hover{
  background-color: var(--primary);
  color: var(--primaryText);
}

.card-header {
  padding: 0.9rem;
  padding-bottom: 0rem;
  border-radius: var(--border-radius) var(--border-radius) 0px 0px;
}

.card-hidden-section > .subtitle {
  margin-top: 6px;
  color: var(--backgroundText1);
}

.card-hidden-section > .subtitle:first-child{
  margin-top:0px;
  color: var(--backgroundText1);
}



.card-body {
  padding-top: 16px;
  padding-bottom: 16px;
  ;
  border-radius: 0px 0px var(--border-radius) var(--border-radius);
  text-align: justify;
}

.badge-container {
  display: flex;
  flex-flow: row wrap;
}

.badge {
  padding-left: 8px;
  padding-right: 8px;
  padding-top:2px;
  padding-bottom:2px;
  margin-bottom: 6px;
  margin-left: 6px;
  margin-top:-2px;
  border-radius: var(--border-radius);
  background-color: var(--background);
  color: var(--backgroundText1);
  font-family: roboto_r;
}

.badge:nth-child(2) {
  margin-left: 0px;
}

.card-footer {
  padding: 0.35rem;
  padding-left: 0rem;
  border-radius: 0px 0px var(--border-radius) var(--border-radius);
}

.card-number {
  text-align: left;
  color: var(--backgroundText2);
  font-style: italic;
}

.card-body-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.card-body-grid-box {
  min-width: 40%;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  text-transform: capitalize;
}

.card-body-grid-box>ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
}

/* Menu */
.menu {
  width: 100%;
  height: auto;
  min-height: 40px;
  margin: 0px;
  margin-bottom: 20px;
  background-color: var(--card);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 100;
}

.menu-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  background-color: var(--card);
  color: var(--cardText);
}

.menu-list-item {
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: roboto_m;
  width: auto;
  text-transform: capitalize;
  color: var(--primary);
}

.menu-list-item>i {
  width: 14px;
  height: 14px;
  font-size: var(--body-size);
  margin-right: 15px;
}

.menu-list-item:hover {
  background-color: var(--primary);
  color: white;
  cursor: pointer;
}



.menu-list-selected {
  background-color: var(--primary);
  color: white;
}

.menu-control {
  display: flex;
  position: absolute;
  width: 100%;
}

.menu-title {
  float: left;
  line-height: 40px;
  text-align: center;
  width: 100%;
  letter-spacing: var(--title-spacing);
  font-family: roboto_m;
  text-transform: capitalize;
}

.menu-icon {
  position: absolute;
  right: 0px;
  text-align: center;
  line-height: 40px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
}

.menu-icon:hover {
  background-color: var(--primary);
  color: var(--primaryText);
}

.break-heading {
  text-align: left;
  font-size: 18px;
  font-family: roboto_r;
  color: var(--backgroundText2);
  text-transform: capitalize;
}

.skill-group:not(:first-child) {
  margin-top: 10px;
}

.skill-group-body {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 8px;
}

.skill-name {
  height: 30px;
  line-height: 30px;
  min-width: 10%;
  background-color: #f2dfdf;
  color: var(--primaryText);
  border-radius: var(--border-radius);
  margin: 2px;
  text-align: center;
  padding-left: 6px;
  padding-right: 6px;
}

.small-card-holder {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-top: 15px;
  margin-bottom: 30px;
}

.small-card {
  background-color: var(--card);
  color: var(--cardText);
  border-radius: var(--border-radius);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 12px;
  padding: 15px;
  min-width: 20%;
  cursor: pointer;
  text-transform: capitalize;
}

.small-card:hover{
  background-color: var(--primary);
  color: var(--primaryText);
}

.small-card:hover > .subtitle > .link-logo{
  color: var(--primaryText);
}

.small-card:hover > .light{
  color: var(--primaryText);
}

.link-logo{
  font-size:16px;
  margin-right:10px;
  color: var(--primary);
}

.light {
  color: var(--backgroundText2);
}

@media only screen and (min-width: 800px) and (min-height: 450px) {
  .profile {
    width: 30%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    position: fixed;
    height: 100%;
  }

  .content{
    margin-top: 10px;
  }

  .menu {
    position: fixed;
    top: 0px;
    width: 70%;
    background-color: var(--background);
    box-shadow: none;
  }

  .menu-list {
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.12), 3px 1px 2px rgba(0, 0, 0, 0.24);
  }

  .menu-icon:hover {
    color: var(--primaryText);
  }

  .menu-down {
    background-color: var(--primary);
  }

  .menu-title {
    text-align: left;
    padding-left: 20px;
  }

  .view-body {
    width: 70%;
    margin-left: 30%;
    margin-top: 60px;
    padding-bottom:50px;
  }

  .footer{
      background: var(--background);
      position:fixed;
      width:70%;
      bottom:0%;
  }
}

@media only screen and (min-width: 1200px) {
  :root{
    --title-size: 21px;
    --subtitle-size: 13px;
    --body-size: 15px;
  }

  .profile {
    width: 25%;
  }

  .view-body {
    width: 75%;
    margin-left: 25%;
  }

  .content{
    margin-top: 30px;
  }

  .small-content-body{
      width:80%;
      margin-top:10px;
    }


  .menu {
    width: 75%;
    height: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .menu-control {
    display: none;
  }

  .menu-list {
    margin: 0px;
    padding: 0px;
    display: block;
    box-shadow: none;
    background: none;
  }

  .menu-list-span {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .menu-list-item {
    padding-left: 4px;
    padding-right: 4px;
    font-size: var(--body-size);
    margin-left: 6px;
    margin-right: 6px;
    border-bottom: 3px solid transparent;
  }

  .menu-list-item:hover {
    background: none;
    color: var(--primary);
    border-bottom: 3px solid var(--primary);
  }

  .menu-list-selected {
    background: none;
    color: var(--primary);
    border-bottom: 3px solid var(--primary);
  }

  .footer{
    width:75%;
  }
}
