:root {
  /* Color */
  --primary: #791e94;
  --primary-v: #3a0e47;
  --primary-text: #FFFFFF;
  --background: #efefef;
  --card: #ffffff;
  --background-text: #000000;
  --background-text-2: rgba(0,0,0,0.6);
  --card-text: #000000;
  /* Text */
  --title-size: 24px;
  --subtitle-size: 12px;
  --body-size: 14px;
  --title-spacing: 0.075rem;
  --subtitle-spacing: 0.00625rem;
  --body-spacing: 0.015625rem;
  /* Other */
  --border-radius: 2.5px;
}

/* Fonts */
@font-face {
  font-family: roboto_m;
  src: url("../font/Roboto-Medium.ttf");
}

@font-face {
  font-family: roboto_r;
  src: url("../font/Roboto-Regular.ttf");
}

@font-face {
  font-family: roboto_t;
  src: url("../font/Roboto-Thin.ttf");
}

@font-face {
  font-family: rock;
  src: url("../font/ROCK.TTF");
}

/* Basic */
html {
  margin: 0px;
  padding: 0px;
  background-color: var(--background);
  color: var(--background-text);
  font-size: var(--body-size);
  font-family: roboto_r;
}

body {
  margin: 0px;
  padding: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

p {
  font-size: var(--body-size);
  letter-spacing: var(--body-spacing);
  font-family: roboto_r;
  margin:0px;
  padding:0px;
}

#view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}

.title {
  font-size: var(--title-size);
  letter-spacing: var(--title-spacing);
  font-family: roboto_r;
  margin-bottom: 10px;
}

.subtitle {
  font-size: var(--subtitle-size);
  letter-spacing: var(--subtitle-spacing);
  font-family: roboto_m;
  text-transform: capitalize;
}

.body {
  font-size: var(--body-size);
  letter-spacing: var(--body-spacing);
  font-family: roboto_r;
}

.view-body{}

.footer {
  margin-top: 30px;
  padding: 20px;
  /*background: #dbdbdb;*/
  color: #7f7f7f;
  text-align: center;
  font-size: 12px;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.content-body {
  width: 80%;
  margin: 0px auto;
  margin-bottom: 30px;
}

.icon {
  margin-right: 0.5rem;
  width: var(--icon-size);
  height: var(--icon-size);
  color: var(--primary)
}



/* Profile */

.profile {
  width: 100%;
  background-color: white;
  z-index: 101;
}

.profile-content {
  display: flex;
  justify-content: flex-start;
  flex-flow: column wrap;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 200px;
  margin-top: 40px;
  align-self: center;
  background-color: var(--primary);
}

.profile-pic img {
  width: 102%;
  height: 102%;
  margin-top: -1%;
  margin-left: -1%;
  border-radius: 200px;
}

.profile-name {
  text-align: center;
  margin-top: 30px;
  font-family: rock;
  font-size: 1.45rem;
  font-weight: bold;
}

.profile-designation {
  text-align: center;
  font-size: var(--body-size);
}

.profile-about {
  text-align: justify;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.profile-footer {
  list-style: none;
  display: flex;
  padding: 0px;
  width: 80%;
  margin: 0px auto;
  margin-top: 10px;
  margin-bottom: 20px;
  flex-flow: column wrap;
}

.profile-footer>a {
  margin-top: 10px;
}

.profile-icon {
  width: 16px;
  height: 16px;
  font-size: 16px;
  color: var(--primary);
  margin-right: 10px;
}

/* Card */

.card {
  background-color: var(--card);
  color: var(--card-text);
  border-radius: var(--border-radius);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 2rem auto;
  border: 1px solid transparent;
}

.card:first-child {
  margin-top: 0px;
}

.card-header {
  padding: 0.9rem;
  padding-bottom: 0rem;
  border-radius: var(--border-radius) var(--border-radius) 0px 0px;

}

.card-header > .subtitle{
  margin-top:6px;
  color:rgba(0,0,0,0.8);
}

.card-body {
  padding-left:34px;
  padding-right:34px;
  padding-top: 16px;
  padding-bottom: 16px;;
  border-radius: 0px 0px var(--border-radius) var(--border-radius);
  text-align: justify;
}

.badge-container {
  display: flex;
  flex-flow: row wrap;
}

.badge {
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  border-radius: var(--border-radius);
  background-color: var(--primary);
  color: var(--primary-text);
}

.badge:nth-child(2) {
  margin-left:0px;
}

.card-footer {
  padding: 0.35rem;
  padding-left: 0.9rem;
  border-radius: 0px 0px var(--border-radius) var(--border-radius);
}

.card-number {
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
  font-style: italic;
}

.card-body-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.card-body-grid-box {
  min-width: 40%;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  text-transform: capitalize;
}

.card-body-grid-box>ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
}


/* Menu */


.menu {
  width: 100%;
  height: auto;
  min-height: 40px;
  margin: 0px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 100;
}

.menu-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  background-color: white;
  color: var(--primary);
  display: none;
}

.menu-list-item {
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: roboto_m;
  width: auto;
  text-transform: capitalize;
}

.menu-list-item>i {
  width: 14px;
  height: 14px;
  font-size: 14p x;
  margin-right: 15px;
}

.menu-list-item:hover {
  background-color: var(--primary);
  color: white;
  cursor: pointer;
}

.menu-list-selected {
  background-color: var(--primary);
  color: white;
}

.menu-control {
  display: flex;
  position: absolute;
  width: 100%;
}

.menu-title {
  float: left;
  line-height: 40px;
  text-align: center;
  width: 100%;
  letter-spacing: var(--title-spacing);
  font-family: roboto_m;
  text-transform: capitalize;
}

.menu-icon {
  position: absolute;
  right: 0px;
  color: white;
  text-align: center;
  line-height: 40px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  color: black;
}

.menu-icon:hover {
  background-color: var(--primary);
  color: white;
}

.break-heading {
  text-align: left;
  font-size: 18px;
  font-family: roboto_r;
  color: var(--background-text-2);
  text-transform:capitalize;
}

.skill-group:not(:first-child) {
  margin-top: 10px;
}

.skill-group-body {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 8px;
}

.skill-name {
  height: 30px;
  line-height: 30px;
  min-width: 10%;
  background-color: #f2dfdf;
  color: var(--primary-text);
  border-radius: var(--border-radius);
  margin: 8px;
  text-align: center;
  padding-left: 6px;
  padding-right: 6px;
}

.small-card-holder{
  display: flex;
  flex-flow: row wrap;
  justify-content:flex-start;
}

.small-card{
  background-color: var(--card);
  color: var(--card-text);
  border-radius: var(--border-radius);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-left:10px;
  margin-right:10px;
  margin-top:20px;
  padding:15px;
  min-width: 30%;
  cursor: pointer;
}


@media only screen and (min-width: 800px) and (min-height: 450px) {
  .profile {
    width: 30%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    position: fixed;
    height: 100%;
  }

  .menu {
    position: fixed;
    top: 0px;
    width: 70%;
    background-color: var(--background);
    box-shadow: none;
  }

  .menu-list {
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.12), 3px 1px 2px rgba(0, 0, 0, 0.24);
  }

  .menu-icon:hover {
    color: #7dc4c1;
  }

  .menu-down {
    background-color: var(--primary);
  }

  .menu-title {
    text-align: left;
    padding-left: 20px;
  }

  .view-body {
    width: 70%;
    margin-left: 30%;
    margin-top: 60px;
  }
}

@media only screen and (min-width: 1200px) {
  .profile {
    width: 25%;
  }

  .view-body {
    width: 75%;
    margin-left: 25%;
  }

  .menu {
    width: 75%;
    height: 40px;
    padding-top: 10px;
  }

  .menu-control {
    display: none;
  }

  .menu-list {
    margin: 0px;
    padding: 0px;
    color: var(--primary);
    display: block;
    box-shadow: none;
    background: none;
  }

  .menu-list-span {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .menu-list-item {
    padding-left: 4px;
    padding-right: 4px;
    font-size: 14px;
    margin-left: 6px;
    margin-right: 6px;
    border-bottom: 3px solid transparent;
  }

  .menu-list-item:hover {
    background: none;
    color: var(--primary-v);
    border-bottom: 3px solid var(--primary-v);
  }

  .menu-list-selected {
    background: none;
    color: var(--primary-v);
    border-bottom: 3px solid var(--primary-v);
  }
}
